<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NotFull">
        <activity android:name=".activity.TestAllocMemoryActivity"></activity>
        <activity android:name=".activity.TestTemperatureSensorActivity"></activity>
        <activity android:name=".activity.TestReentrantLockActivity"></activity>
        <activity android:name=".activity.TestSynchronizedKeywordActivity"></activity>
        <activity android:name=".activity.TestVolatileKeywordActivity"></activity>
        <activity android:name=".activity.TestCustomArrayListActivity"></activity>
        <activity android:name=".activity.CameraOpenOrCloseActivity"></activity>
        <activity android:name=".activity.PrintDoubleDataTypeActivity"></activity>
        <activity android:name=".activity.QuickSortAlgorithmActivity"></activity>
        <activity android:name=".activity.TopActivityMonitorActivity"></activity>
        <activity android:name=".activity.ShowLongLargeImageActivity"></activity>
        <activity android:name=".activity.CoordinateLayoutDemoActivity"></activity>
        <activity android:name=".activity.TabLayoutDemoActivity"></activity>
        <activity android:name=".activity.TestCustomImageViewActivity"></activity>
        <activity android:name=".activity.TestSelfAdaptionFrameViewActivity"></activity>
        <activity android:name=".activity.TestProgressBarActivity"></activity>
        <activity android:name=".activity.TextViewMarqueeActivity"></activity>
        <activity android:name=".activity.TestCoordinateAnimationHelperActivity"></activity>
        <activity android:name=".activity.TestBezierActivity"></activity>
        <activity android:name=".activity.TestGifActivity"></activity>
        <activity android:name=".activity.TestObjectAnimatorActivity"></activity>
        <activity android:name=".activity.TestWavFileFormatActivity"></activity>
        <activity android:name=".activity.ModifyDisplayMetricsActivity"></activity>
        <activity android:name=".activity.TestCountdownFrameworkActivity"></activity>
        <activity android:name=".activity.TestHtmlCompactActivity"></activity>
        <activity android:name=".activity.TestLottieActivity"></activity>
        <activity android:name=".activity.TestGenerateQRCodeActivity"></activity>
        <activity android:name=".activity.TestDrawableCenterTextViewActivity"></activity>
        <activity android:name=".activity.TestMvpActivity"></activity>
        <activity android:name=".activity.RecordVideoActivity"></activity>
        <activity android:name=".activity.TestStatFsActivity"></activity>
        <activity android:name=".activity.RemoveFragmentAfterOnStopActivity"></activity>
        <activity android:name=".activity.ClickFragmentPassThroughActivity"></activity>
        <activity
            android:name=".activity.WithoutAnimationAActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activity.WithoutAnimationBActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activity.TestCollapsingToolbarLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.TestCollapsingToolbarLayoutActivityTwo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.TopActivityMonitorService" />

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.just.test"></provider>

    </application>

</manifest>